<script lang="ts">
  import { afterUpdate, onMount } from 'svelte';
  import { page } from '$app/stores';
  import type { Specimen } from '../../../type/specimen';
  import mapboxgl from 'mapbox-gl';
  import 'mapbox-gl/dist/mapbox-gl.css';
  import spacetime from 'spacetime';
  import { apiGet } from '../../../lib/request';
  import { DetailPageState } from '../../../type/detail-page-state';
  import { RequestState } from '../../../type/request-state';
  import type { MapConfig } from '../../../type/mapConfig';

  let specimen: Specimen;
  let map: mapboxgl.Map;
  let collectedAt: string | null = null;
  let pageState: DetailPageState = DetailPageState.Loading;

  async function fetchSpecimen(): Promise<void> {
    const id = Number.parseInt($page.params.id);
    const result = await apiGet<Specimen>(`/api/specimen/${id}`);

    if (result.state === RequestState.Error) {
      pageState = DetailPageState.Error;
      return;
    }

    specimen = result.response;
    const sp = spacetime(specimen.collectedAt);
    const spLocal = sp.goto(specimen.collectedAtTimezone);
    collectedAt = spLocal.format('{date}.{iso-month}.{year} {hour-24}:{minute-pad}');
    pageState = DetailPageState.Ready;
  }

  async function initializeMap(): Promise<void> {
    if (!specimen || map || !specimen.coordinates) {
      return;
    }

    const result = await apiGet<MapConfig>('/api/map-config');

    if (result.state === RequestState.Error) {
      return;
    }

    mapboxgl.accessToken = result.response.apiKey;
    map = new mapboxgl.Map(<any>{
      container: 'map',
      style: result.response.mapStyle,
      center: [specimen.coordinates.x, specimen.coordinates.y],
      zoom: 13,
    });
    map.addControl(new mapboxgl.FullscreenControl());
    map.addControl(new mapboxgl.NavigationControl());

    new mapboxgl.Marker().setLngLat([specimen.coordinates.x, specimen.coordinates.y]).addTo(map);
  }

  onMount(async () => {
    fetchSpecimen();
  });

  afterUpdate(async () => {
    // TODO: The map should be initialized only once after specimen is loaded and layout is initialized
    initializeMap();
  });
</script>

<div class="detail">
  <div class="header flex gap-2">
    <h1>
      Specimen
      {#if !specimen}
        ...
      {/if}
      {#if specimen}
        - <span class="taxon">{specimen.taxon}</span>
      {/if}
    </h1>

    {#if specimen}
      <a
        href="/specimen/{specimen.id}/edit"
        class="rounded-full shadow-md px-4 py-2 bg-indigo-500 text-white block">Edit</a
      >
    {/if}
  </div>

  {#if pageState === DetailPageState.Ready}
    <div class="infobox shadow-lg rounded-lg bg-white p-4">
      <div>ID:</div>
      <div>{specimen.id}</div>

      <div>Taxon:</div>
      <div>
        <span class="taxon">{specimen.taxon}</span>
        <span>({specimen.taxonAuthor})</span>
      </div>

      <div>Collection:</div>
      <div>
        {#if specimen.collection}
          <a href="/collection/{specimen.collection.id}">
            {specimen.collection.name}
          </a>
        {/if}
        {#if !specimen.collectionId}-{/if}
      </div>

      <div>Collected at:</div>
      <div>{collectedAt}<br />({specimen.collectedAtTimezone})</div>

      <div>Collected by:</div>
      <div>{specimen.collectedBy}</div>

      <div>User:</div>
      <div>{specimen.user.username}</div>

      <div>Inaturalist ID:</div>
      <div>
        {#if specimen.inaturalistId}
          <a
            href="https://www.inaturalist.org/observations/{specimen.inaturalistId}"
            target="_blank"
            rel="noreferrer"
          >
            {specimen.inaturalistId}
          </a>
        {/if}
        {#if !specimen.inaturalistId}-{/if}
      </div>
    </div>

    <div class="infobox shadow-lg rounded-lg bg-white p-4 col-start-1 col-end-1">
      <div class="header">Location</div>

      <div>Street:</div>
      <div>{specimen.street ?? '-'}</div>

      <div>Place:</div>
      <div>{specimen.zip ?? '-'} {specimen.city ?? '-'}</div>

      <div>Region:</div>
      <div>{specimen.region ?? '-'}</div>

      <div>Country:</div>
      <div>{specimen.country ?? '-'}</div>
    </div>

    <div class="col-start-2 row-start-2 row-end-9">
      <div class="block p-6 rounded-lg shadow-lg bg-white">
        <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Description</h5>
        <p class="text-gray-700 text-base mb-4">
          {specimen.description}
        </p>
      </div>
    </div>
  {/if}

  {#if pageState === DetailPageState.Loading}
    Loading ...
  {/if}

  {#if pageState === DetailPageState.Error}
    <div class="red-500">Error loading specimen / Specimen not found</div>
  {/if}

  <div class="rounded-lg shadow-lg overflow-hidden col-start-1 {map ? '' : 'hidden'}">
    <div id="map" />
  </div>
</div>

<style>
  #map {
    height: 300px;
    width: 100%;
  }

  .infobox {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 12px;
  }

  .header {
    grid-column: 1 / -1;
  }

  .header h1 {
    font-size: 24px;
    letter-spacing: 1px;
  }

  .detail {
    display: grid;
    gap: 12px;
    grid-template-columns: auto 1fr;
  }

  .taxon {
    font-style: italic;
  }

  .infobox div:nth-of-type(2n - 1) {
    font-weight: 700;
  }
</style>
