<script lang="ts">
  import '../app.css';
  import Cookies from 'js-cookie';
  import axios from 'axios';
  import { loggedInWritable } from '$lib/auth/state';
  import { MenuIcon } from 'svelte-feather-icons';
  import cx from 'classnames';
  import { NavLinks } from '$lib/components';
  import { navigating } from '$app/stores';
  import { goto } from '$app/navigation';
  import Toasts from '$lib/components/Toasts.svelte';

  let loggedIn = false;
  let mobileMenuVisible = false;

  async function logout() {
    const response = await axios.post('/api/logout', {});

    if (response.status === 200) {
      Cookies.remove('jwt');
      loggedInWritable.set(false);
      goto('/login');
    }
  }

  const setMobileMenuVisible = () => (mobileMenuVisible = false);

  $: if ($navigating) setMobileMenuVisible();

  loggedInWritable.subscribe((state) => (loggedIn = state));
</script>

<Toasts />

<header
  class="fixed flex items-center w-full shadow-lg bg-white top-0 max-h-20 z-10 p-2 md:p-10 justify-between md:justify-start"
>
  <h3 class="p-2 text-4xl font-normal leading-normal mt-0 w-100">Entocol 🐛</h3>

  <div class={cx('hidden md:flex')}>
    <NavLinks bind:loggedIn onLogout={logout} />
  </div>

  <div
    class={cx('md:hidden')}
    on:click={() => (mobileMenuVisible = !mobileMenuVisible)}
    on:keyup={() => (mobileMenuVisible = !mobileMenuVisible)}
  >
    <MenuIcon class="cursor-pointer" size="24" />
  </div>
</header>

<div
  class={cx(
    'md:hidden max-h-0 mt-20 overflow-hidden transition-all duration-500 ease w-full bg-indigo-400 text-white',
    mobileMenuVisible && 'max-h-60'
  )}
>
  <NavLinks bind:loggedIn onLogout={logout} />
</div>

<main>
  <div class="p-10 mt-24">
    <slot />
  </div>
</main>

<footer />
