<script lang="ts">
  import CollectionForm from '$lib/components/CollectionForm.svelte';
  import { onMount } from 'svelte';
  import { FormPageState } from '../../../../type/form-page-state';
  import { page } from '$app/stores';
  import axios from 'axios';
  import type { Collection } from '../../../../type/collection';

  let collection: Collection;
  let collectionId: number;
  let state: FormPageState = FormPageState.Loading;

  onMount(async () => {
    const id = Number.parseInt($page.params.id);
    const response = await axios.get(`/api/collection/${id}`);
    collection = response.data;
    collectionId = collection.id;
    state = FormPageState.Ready;
  });
</script>

<div>
  {#if state === FormPageState.Loading}
    Loading ...
  {/if}
  {#if state === FormPageState.Ready}
    <CollectionForm bind:collection bind:collectionId />
  {/if}
</div>

<style>
</style>
