@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/font/Inter-VariableFont_slnt,wght.ttf');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

* {
  font-family: 'Inter';
}

body {
  background-image: url('/335px-TRES18481_light2.jpg');
}
