<script lang="ts">
  import { onMount } from 'svelte';
  import { page } from '$app/stores';
  import axios from 'axios';
  import 'mapbox-gl/dist/mapbox-gl.css';
  import type { Collection } from '../../../type/collection';
  import type { Specimen } from '../../../type/specimen';
  import mapboxgl from 'mapbox-gl';
  import GenerateDocumentModal from '$lib/modal/GenerateDocumentModal.svelte';
  import { modal } from '$lib/auth/state';
  import { Modal } from '../../../type/modal.js';
  import { toast } from '$lib/stores/toasts';
  import { apiGet } from '../../../lib/request';
  import type { MapConfig } from '../../../type/mapConfig';
  import { RequestState } from '../../../type/request-state';

  let collection: Collection;
  let specimen: Specimen[] = [];
  let map: mapboxgl.Map;
  let modalState: Modal | null = null;

  modal.subscribe((state) => (modalState = state));

  function fitBounds(): void {
    const boundingBox: number[][] = [];
    specimen.forEach((item) => {
      if (!item.coordinates) {
        return;
      }

      if (!boundingBox.length) {
        boundingBox.push([]);
        boundingBox.push([]);
        boundingBox[0][0] = item.coordinates.x;
        boundingBox[0][1] = item.coordinates.y;
        boundingBox[1][0] = item.coordinates.x;
        boundingBox[1][1] = item.coordinates.y;
        return;
      }

      boundingBox[0][0] =
        boundingBox[0][0] < item.coordinates.x ? boundingBox[0][0] : item.coordinates.x;
      boundingBox[0][1] =
        boundingBox[0][1] < item.coordinates.y ? boundingBox[0][1] : item.coordinates.y;
      boundingBox[1][0] =
        boundingBox[1][0] > item.coordinates.x ? boundingBox[1][0] : item.coordinates.x;
      boundingBox[1][1] =
        boundingBox[1][1] > item.coordinates.y ? boundingBox[1][1] : item.coordinates.y;
    });

    map.fitBounds(
      new mapboxgl.LngLatBounds(
        new mapboxgl.LngLat(boundingBox[0][0], boundingBox[0][1]),
        new mapboxgl.LngLat(boundingBox[1][0], boundingBox[1][1])
      ),
      { padding: 50 }
    );
  }

  function addMarkers(): void {
    specimen.forEach((specimen) => {
      const popup = new mapboxgl.Popup({ offset: 25 }).setHTML(
        `<div><strong>ID:</strong> ${specimen.id}</div>
        <div><strong>Taxon:</strong> ${specimen.taxon}</div>
        <div><strong>Description:</strong> ${specimen.description}</div>`
      );

      if (specimen.coordinates) {
        new mapboxgl.Marker()
          .setLngLat([specimen.coordinates.x, specimen.coordinates.y])
          .setPopup(popup)
          .addTo(map);
      }
    });
  }

  async function initializeMap() {
    const result = await apiGet<MapConfig>('/api/map-config');

    if (result.state === RequestState.Error) {
      toast({ type: 'error', message: 'Error loading map' });
      return;
    }

    mapboxgl.accessToken = result.response.apiKey;

    const config = <any>{
      container: 'map',
      style: result.response.mapStyle,
      center: [0, 0],
      zoom: 1,
    };

    map = new mapboxgl.Map(config);

    map.addControl(new mapboxgl.FullscreenControl());
    map.addControl(new mapboxgl.NavigationControl());
    fitBounds();
    addMarkers();
  }

  function openLabelModal(): void {
    modal.set(Modal.GenerateDocument);
  }

  onMount(async () => {
    const id = Number.parseInt($page.params.id);
    const response = await axios.get(`/api/collection/${id}`);
    collection = response.data;

    const specimenResponse = await axios.get(`/api/collection/${id}/specimen`);
    specimen = specimenResponse.data.items;

    initializeMap();
  });
</script>

<div class="detail">
  <div class="header flex gap-2">
    <h1>
      Collection:
      {#if !collection}
        ...
      {/if}
      {#if collection}
        - <span>{collection.name}</span>
      {/if}
    </h1>

    {#if collection}
      <a
        href="/collection/{collection.id}/edit"
        class="rounded-full shadow-md px-4 py-2 bg-indigo-500 text-white block">Edit</a
      >
      <button
        class="rounded-full shadow-md px-4 py-2 bg-indigo-500 text-white block"
        on:click={() => openLabelModal()}>Labels</button
      >
    {/if}
  </div>

  {#if collection}
    <div class="infobox shadow-lg rounded-lg bg-white p-4">
      <div>ID:</div>
      <div>{collection.id}</div>

      <div>Name:</div>
      <div>{collection.name}</div>

      <div>User:</div>
      <div>{collection.user.username}</div>

      <div>Created at:</div>
      <div>{collection.createdAt}</div>

      <div>Updated at:</div>
      <div>{collection.updatedAt}</div>
    </div>

    <div class="grid-column-2">
      <div class="block p-6 rounded-lg shadow-lg bg-white">
        <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Description</h5>
        <p class="text-gray-700 text-base mb-4">
          {collection.description}
        </p>
      </div>
    </div>
  {/if}

  <div class="grid-column-2">
    <div class="block p-6 rounded-lg shadow-lg bg-white">
      <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Specimen</h5>

      <table class="w-full">
        <thead class="text-left">
          <tr>
            <th>ID</th>
            <th>Taxon</th>
            <th>Description</th>
          </tr>
        </thead>

        <tbody>
          {#if specimen.length}
            {#each specimen as specimenItem}
              <tr>
                <td>{specimenItem.id}</td>
                <td>
                  <a href="/specimen/{specimenItem.id}">
                    {specimenItem.taxon}
                  </a>
                </td>
                <td>{specimenItem.description}</td>
              </tr>
            {/each}
          {/if}
        </tbody>
      </table>
    </div>
  </div>

  <div class="grid-column-2">
    <div class="block p-6 rounded-lg shadow-lg bg-white">
      <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Specimen map</h5>

      {#if specimen.length}
        <div id="map" />
      {/if}
    </div>
  </div>

  {#if modalState === Modal.GenerateDocument}
    <GenerateDocumentModal bind:specimen />
  {/if}
</div>

<style>
  #map {
    height: 300px;
    width: 100%;
    background-color: #a3a3a3;
  }

  .infobox {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 12px;
    grid-row: 2 / 4;
  }

  .grid-column-2 {
    grid-column: 2;
  }

  .header {
    grid-column: 1 / -1;
  }

  .header h1 {
    font-size: 24px;
    letter-spacing: 1px;
  }

  .detail {
    display: grid;
    gap: 12px;
    grid-template-columns: auto 1fr;
    align-items: baseline;
  }

  .infobox div:nth-of-type(2n - 1) {
    font-weight: 700;
  }
</style>
