<script lang="ts">
  import Button from '$lib/components/Button.svelte';
  import { modal } from '$lib/auth/state';
  import { afterUpdate, createEventDispatcher } from 'svelte';
  import mapboxgl from 'mapbox-gl';
  import type { Coordinates } from '../../type/coordinates';
  import type { MapConfig } from '../../type/mapConfig';

  export let coordinates: Coordinates | null;
  let map: mapboxgl.Map;
  let marker: mapboxgl.Marker;
  let dispatch = createEventDispatcher();
  export let mapConfig: MapConfig;

  function closeModal() {
    console.log('close');
    modal.set(null);
  }

  function updateLocation() {
    closeModal();
    console.log(marker.getLngLat());
    dispatch('coordinates', <Coordinates>{
      x: marker.getLngLat().lng,
      y: marker.getLngLat().lat,
    });
  }

  function createMarker(event: mapboxgl.MapMouseEvent & mapboxgl.EventData) {
    console.log('create marker', marker, map);
    const lngLat = event.lngLat;

    if (!marker) {
      marker = new mapboxgl.Marker().setLngLat([lngLat.lng, lngLat.lat]).addTo(map);
      return;
    }

    marker.setLngLat([lngLat.lng, lngLat.lat]);
  }

  afterUpdate(async () => {
    if (map) {
      return;
    }

    mapboxgl.accessToken = mapConfig.apiKey;

    const config = <any>{
      container: 'map',
      style: mapConfig.mapStyle,
      zoom: 13,
    };

    if (coordinates) {
      config['center'] = [coordinates.x, coordinates.y];
    } else {
      config['center'] = [9, 47];
    }

    map = new mapboxgl.Map(config);

    map.addControl(new mapboxgl.FullscreenControl());
    map.addControl(new mapboxgl.NavigationControl());

    if (coordinates) {
      console.log('create marker');
      marker = new mapboxgl.Marker().setLngLat([coordinates.x, coordinates.y]).addTo(map);
    }

    map.on('click', (event) => createMarker(event));
  });
</script>

<div
  class="fixed bottom-1/2 right-1/2 translate-x-1/2 translate-y-1/2 bg-white shadow-lg rounded-lg p-4 grid gap-4 z-20"
>
  <div>
    <h3 class="text-xl font-medium text-gray-900 dark:text-white">Choose location</h3>
  </div>

  <div>Click on the map to choose a location</div>

  <div id="map" />

  <div class="flex gap-4">
    <div on:click={() => closeModal()} on:keyup={() => updateLocation()}>
      <Button>Cancel</Button>
    </div>
    <div on:click={() => updateLocation()} on:keyup={() => updateLocation()}>
      <Button>Update</Button>
    </div>
  </div>
</div>

<style>
  #map {
    width: 600px;
    height: 300px;
  }
</style>
