<script lang="ts" xmlns="http://www.w3.org/1999/html">
  import { modal } from '$lib/auth/state';
  import Button from '$lib/components/Button.svelte';
  import jsPDF from 'jspdf';
  import autoTable from 'jspdf-autotable';
  import type { RowInput } from 'jspdf-autotable';
  import type { Specimen } from '../../type/specimen';

  export let specimen: Specimen[];
  let pageConfig = {
    columns: 3,
    fontSize: 6,
    cellPadding: 2,
  };

  function closeModal() {
    modal.set(null);
  }

  function generateLabelBody(): RowInput[] {
    const rowInput = [];
    let rowContent = [];
    let count = 0;

    for (const item of specimen) {
      rowContent.push(`${item.taxon}, ${item.taxonAuthor}\n${item.collectedBy}`);
      count++;

      if (count === pageConfig.columns) {
        rowInput.push(rowContent);
        rowContent = [];
        count = 0;
      }
    }

    if (rowContent.length) {
      rowInput.push(rowContent);
    }

    return rowInput;
  }

  function updateFormState() {
    console.log(pageConfig);
  }

  function generateDocument() {
    const doc = new jsPDF('p', 'mm', [297, 210]);

    autoTable(doc, {
      theme: 'grid',
      tableWidth: 'wrap',
      styles: {
        fontSize: pageConfig.fontSize,
        cellPadding: pageConfig.cellPadding,
      },
      body: generateLabelBody(),
    });

    doc.save('labels.pdf');
  }
</script>

<div
  class="fixed left-0 top-0 bottom-0 right-0 bg-opacity-50 bg-black z-20"
  on:click={() => closeModal()}
  on:keyup={() => closeModal()}
/>

<div
  class="fixed bottom-1/2 right-1/2 translate-x-1/2 translate-y-1/2 bg-white shadow-lg rounded-lg p-4 grid gap-4 z-20"
>
  <div>
    <h3 class="text-xl font-medium text-gray-900 dark:text-white">Choose location</h3>
  </div>

  <div>Try out different settings to find your preferred label style</div>

  <form class="grid gap-2" on:change={() => updateFormState()} on:keyup={() => updateFormState()}>
    <div>
      <label for="font-size">Font size</label>
      <input type="range" min="4" max="16" id="font-size" bind:value={pageConfig.fontSize} />
      {pageConfig.fontSize}
    </div>
    <div>
      <label for="columns">Columns</label>
      <input type="range" min="1" max="32" id="columns" bind:value={pageConfig.columns} />
      {pageConfig.columns}
    </div>
    <div>
      <label for="cell-padding">Columns</label>
      <input type="range" min="0" max="10" id="cell-padding" bind:value={pageConfig.cellPadding} />
      {pageConfig.cellPadding}
    </div>
  </form>

  <div class="flex gap-4">
    <div on:click={() => closeModal()} on:keyup={() => generateDocument()}>
      <Button>Close</Button>
    </div>
    <div on:click={() => generateDocument()} on:keyup={() => generateDocument()}>
      <Button>Generate</Button>
    </div>
  </div>
</div>

<style>
</style>
