<script lang="ts">
  import type { Specimen } from '../../type/specimen';
  import { onMount } from 'svelte';
  import axios from 'axios';
  import H1 from '$lib/components/H1.svelte';
  import spacetime from 'spacetime';

  let loading = true;
  let specimens: Specimen[] = [];

  onMount(async () => {
    const result = await axios.get(`/api/specimen`);
    specimens = result.data.items;
    loading = false;
  });

  function formatLocation(specimen: Specimen): string | null {
    let location = `${specimen.street ?? ''}`.trim();

    if (specimen.zip || specimen.city) {
      location = `${location}, ${specimen.zip} ${specimen.city}`.trim();
    }

    if (specimen.region) {
      location = `${location}, ${specimen.region}`.trim();
    }

    if (specimen.country) {
      location = `${location}, ${specimen.country}`.trim();
    }

    return location ? location : null;
  }
</script>

<div>
  <div class="flex justify-between">
    <H1>Specimen list</H1>

    <div class="my-auto">
      <a href="/specimen/new" class="rounded-full shadow-md px-4 py-2 bg-indigo-500 text-white"
        >Create</a
      >
    </div>
  </div>

  <div>
    {#if loading}
      <div>Loading ...</div>
    {/if}
    {#if !loading}
      <table class="w-full border-collapse border border-slate-400 bg-white max-w-full">
        <thead>
          <tr>
            <th class="border border-slate-300">ID</th>
            <th class="border border-slate-300">Taxon</th>
            <th class="border border-slate-300">Location</th>
            <th class="border border-slate-300">Collection</th>
            <th class="border border-slate-300">Collected at</th>
          </tr>
        </thead>

        <tbody>
          {#each specimens as specimen}
            <tr>
              <td class="border border-slate-300 p-4">
                <a href="/specimen/{specimen.id}">
                  {specimen.id}
                </a>
              </td>
              <td class="border border-slate-300 p-4">
                <a href="/specimen/{specimen.id}">
                  {specimen.taxon}
                </a>
              </td>
              <td class="border border-slate-300 p-4">
                {formatLocation(specimen) ?? '-'}
              </td>
              <td class="border border-slate-300 p-4">
                {#if specimen.collection}
                  <a href="/collection/{specimen.collection.id}">
                    {specimen.collection.name}
                  </a>
                {/if}
                {#if !specimen.collection}-{/if}
              </td>
              <td class="border border-slate-300 p-4 break-words max-w-[20px]">
                {spacetime(specimen.collectedAt)
                  .goto(specimen.collectedAtTimezone)
                  .format('{date}.{iso-month}.{year} {hour-24}:{minute-pad}') ?? '-'}<br />
                {specimen.collectedAtTimezone}
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    {/if}
  </div>
</div>

<style>
</style>
