:root {
  --standard-gap: 12px;
}

body {
  background-color: white;
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
}

body.background-image-page {
  background-image: url("335px-TRES18481.jpg");
  margin: 100px 0 0 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #a3a3a3;
}

input[type="submit"] {
  padding: 12px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #fafafa;
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: white;
  display: flex;
  box-shadow: 0 20px 15px -3px rgba(0,0,0,0.3);
  justify-content: space-between;
}

.navigation-block {
  display: flex;
}

.navigation form {
  display: contents;
}

.navigation input[type="submit"],
.navigation a {
  padding: 24px 12px;
  display: block;
  text-decoration: none;
  color: black;
  background-color: initial;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.navigation a.active {
  background-color: #ededed;
}

.navigation input[type="submit"]:hover,
.navigation a:hover {
  background-color: #ededed;
}

.page-header {
  height: 200px;
  background-image: url("335px-TRES18481.jpg");
  background-position: bottom 7% right;
}

.background-image-page .footer,
.background-image-page .page-header {
  display: none;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--standard-gap);
}

.profile-page {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: var(--standard-gap);
  background-color: #f5f5f5;
}

.profile-container {
  padding: var(--standard-gap);
}

.footer {
  padding: 100px 0;
  background-color: #eee2d2;
}

.profile-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6px var(--standard-gap);
}

.profile-content div:nth-of-type(2n - 1) {
  font-weight: 700;
}

.profile-header {
  font-size: 36px;
  margin-bottom: 24px;
}

.login-container {
  display: grid;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  overflow: clip;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5);
}

.login-header {
  padding: var(--standard-gap);
  color: black;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
}

.profile-container {
  width: 100%;
  max-width: 800px;
}

.login-content {
  padding: var(--standard-gap);
  background-color: white;
}

.login-error {
  color: red;
  font-weight: 700;
}

.login-form {
  display: grid;
  gap: var(--standard-gap);
}
