<script lang="ts">
  import { register } from '$lib/auth';
  import { H3, Input, Button } from '$lib/components/index';
  let username = '';
  let password = '';
  let passwordRepeat = '';
  let email = '';

  $: passwordInvalid = password.length < 10;
</script>

<div>
  <form
    class="flex flex-col max-w-xs mx-auto"
    on:submit|preventDefault={() => register(username, password, passwordRepeat, email)}
  >
    <H3>Sign Up</H3>
    <label for="username">Username</label>
    <Input id="username" bind:value={username} />
    <label for="email">Email</label>
    <Input id="email" bind:value={email} />
    <label for="password">Password</label>
    <Input
      invalid={!!password && passwordInvalid}
      id="password"
      errorMessage="Password must be at least 10 characters"
      bind:value={password}
      type="password"
    />
    <label for="password_repeat">Re-type Password</label>
    <Input
      invalid={!!passwordRepeat && password !== passwordRepeat}
      id="password_repeat"
      errorMessage="Passwords do not match"
      bind:value={passwordRepeat}
      type="password"
    />
    <Button
      disabled={!username ||
        !password ||
        !email ||
        !passwordRepeat ||
        passwordInvalid ||
        password !== passwordRepeat}>Login</Button
    >
    <div class="mx-auto mt-1">Already a member? <a class="font-bold" href="/login">Sign In</a></div>
  </form>
</div>
