<script lang="ts">
  import { login } from '$lib/auth';
  import { H3, Input, Button } from '$lib/components/index';
  let username = '';
  let password = '';
</script>

<div>
  <form
    class="flex flex-col max-w-xs mx-auto"
    on:submit|preventDefault={() => login(username, password)}
  >
    <H3>Sign In</H3>
    <label for="username">Username</label>
    <Input id="username" bind:value={username} />
    <label for="password">Password</label>
    <Input id="password" bind:value={password} type="password" />
    <Button disabled={!username || !password}>Login</Button>
    <div class="mx-auto mt-1">
      Not a member? <a class="font-bold" href="/register">Sign Up</a>
    </div>
  </form>
</div>
