<script lang="ts">
  import { onMount } from 'svelte';
  import { page } from '$app/stores';
  import axios from 'axios';
  import type { Specimen } from '../../../../type/specimen';
  import SpecimenForm from '$lib/components/SpecimenForm.svelte';

  let specimen: Specimen;
  let specimenId: number;
  let state = 'loading';

  onMount(async () => {
    const id = Number.parseInt($page.params.id);
    const response = await axios.get<Specimen>(`/api/specimen/${id}`);
    specimen = response.data;
    specimenId = specimen.id;
    state = 'ready';
  });
</script>

<div>
  {#if state === 'loading'}
    Loading ...
  {/if}
  {#if state === 'ready'}
    <SpecimenForm bind:specimen bind:specimenId />
  {/if}
</div>

<style>
</style>
