<script lang="ts">
  import axios from 'axios';
  import { onMount } from 'svelte';

  onMount(async () => {
    const res = await axios.get(`/api/profile`);

    console.log('Profile: ', res);
  });
</script>

<h1 class="text-2xl">Profile Page</h1>
