<script lang="ts">
  import { onMount } from 'svelte';
  import axios from 'axios';
  import type { Collection } from '../../type/collection';

  let loading = true;
  let collections: Collection[] = [];

  onMount(async () => {
    const result = await axios.get(`/api/collection`);
    collections = result.data.items;
    loading = false;
  });
</script>

<div>
  <h1>Collections</h1>

  <a href="/collection/new" class="rounded-full shadow-md px-4 py-2 bg-indigo-500 text-white"
    >Create</a
  >

  <div>
    {#if loading}
      <div>Loading ...</div>
    {/if}
    {#if !loading}
      <table class="border-collapse border border-slate-400">
        <thead>
          <tr>
            <th class="border border-slate-300">ID</th>
            <th class="border border-slate-300">Name</th>
          </tr>
        </thead>

        <tbody>
          {#each collections as collection}
            <tr>
              <td class="border border-slate-300 p-4">
                <a href="/collection/{collection.id}">
                  {collection.id}
                </a>
              </td>
              <td class="border border-slate-300 p-4">
                <a href="/collection/{collection.id}">
                  {collection.name}
                </a>
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    {/if}
  </div>
</div>

<style>
</style>
