<script lang="ts">
  import cx from 'classnames';
  import axios from 'axios';
  import type { Collection } from '../../type/collection';
  import { onMount } from 'svelte';
  export let value: string | number | null = '';
  export let collection: Collection | null = null;
  let search: string | null = '';
  let collections: Collection[] = [];
  export let id: string | undefined;
  export let invalid = false;
  export let errorMessage = '';
  let hidden = true;

  function chooseItem(collection: Collection) {
    value = collection.id;
    search = collection.name;
    hidden = true;
  }

  function removeItem() {
    value = null;
    search = '';
    hidden = true;
  }

  async function updateChoices(event: KeyboardEvent): Promise<void> {
    if (event.code === 'Backspace') {
      removeItem();
      return;
    }

    const queryParams = new URLSearchParams();

    if (search) {
      queryParams.set('search', search);
    }
    hidden = false;

    const result = await axios.get(`/api/collection?${queryParams.toString()}`);
    collections = result.data.items;
  }

  async function closeResults(): Promise<void> {
    await new Promise((resolve) => setTimeout(resolve, 200));

    hidden = true;
  }

  function openResults() {
    if (search) {
      hidden = false;
    }
  }

  onMount(() => {
    if (collection) {
      search = collection.name;
    }
  });
</script>

<div class="relative w-full">
  <div class="relative">
    <input {id} class="hidden" bind:value />
    <input
      on:keyup={(event) => updateChoices(event)}
      on:blur={() => closeResults()}
      on:focus={() => openResults()}
      bind:value={search}
      class={cx(
        'border-2 py-2 px-4 w-full rounded-sm border-gray-700',
        invalid && 'border-red-500'
      )}
    />

    <div
      class="absolute bg-white top-full left-0 right-0 border-l-2 border-r-2 border-b-2 border-black {hidden
        ? 'hidden'
        : ''}"
    >
      {#if collections.length}
        {#each collections as collection}
          <div
            class="cursor-pointer p-2 hover:bg-indigo-500"
            on:click={() => chooseItem(collection)}
            on:keyup={() => chooseItem(collection)}
          >
            {collection.name}
          </div>
        {/each}
      {/if}
      {#if !collections.length}
        <div class="p-2">No results found</div>
      {/if}
    </div>
  </div>

  {#if invalid}
    <div class="text-red-500 absolute top-7 text-sm">{errorMessage}</div>
  {/if}
</div>

<style>
</style>
