<script lang="ts">
  export let disabled = false;
  export let color = 'bg-indigo-500';
</script>

<button
  class={`cursor-pointer rounded px-4 py-2 text-white font-bold transition-colors my-2 ${
    disabled ? 'bg-gray-500' : color
  }`}
  {disabled}
>
  <slot />
</button>
