<script lang="ts">
  import type { Specimen } from '../../type/specimen';
  import { Button, Input } from '$lib/components/index.js';
  import { goto } from '$app/navigation';
  import type { CollectionFormData } from '../../type/collection-form-data';
  import { toast } from '$lib/stores/toasts';
  import { apiPost, apiPut } from '../request';
  import { RequestState } from '../../type/request-state';

  export let collectionId: number | null = null;
  export let collection: CollectionFormData = {
    id: null,
    name: null,
    description: null,
  };

  async function handleFormResponse(response: Specimen) {
    toast({ message: 'Collection Created', type: 'success' });
    goto(`/collection/${response.id}`);
  }

  async function submit() {
    if (collectionId) {
      const result = await apiPut<Specimen>(`/api/collection/${collectionId}`, collection);

      if (result.state === RequestState.Error) {
        toast({
          message: `Error updating collection`,
          type: 'error',
        });
        return;
      }

      return handleFormResponse(result.response);
    }

    const result = await apiPost<Specimen>('/api/collection', collection);

    if (result.state === RequestState.Error) {
      toast({
        message: `Error creating collection`,
        type: 'error',
      });
      return;
    }

    handleFormResponse(result.response);
  }

  async function updateFormState() {
    console.log(collection);
  }
</script>

<div>
  <form
    class="flex flex-col max-w-xs mx-auto"
    on:change={() => updateFormState()}
    on:keyup={() => updateFormState()}
    on:submit|preventDefault={() => submit()}
  >
    <label for="name">Name</label>
    <Input id="name" bind:value={collection.name} />
    <label for="description">Description</label>
    <textarea
      id="description"
      name="description"
      class="border-2 w-full mb-4 rounded-sm border-gray-700"
      bind:value={collection.description}
    />
    <Button disabled={false}>
      {#if collectionId}
        Edit
      {/if}
      {#if !collectionId}
        Create
      {/if}
    </Button>
  </form>
</div>
