<script lang="ts">
  import cx from 'classnames';
  import { onMount } from 'svelte';
  import spacetime from 'spacetime';

  export let value: string;
  export let timezoneInput: string;
  let offset: number | null = null;
  let dst: boolean = false;
  let datetime: string = '';
  let invalid = false;

  function onChange() {
    console.log(datetime);
    const sp = spacetime(datetime, timezoneInput);
    offset = sp.offset();
    dst = sp.isDST();
    value = sp.iso() as unknown as string;
  }

  function initializeInput() {
    const sp = spacetime(value);
    const spLocal = sp.goto(timezoneInput);
    datetime = spLocal.format('{year}-{iso-month}-{date}T{hour-24-pad}:{minute-pad}');
    offset = spLocal.offset();
    dst = spLocal.isDST();
  }

  onMount(() => {
    const sp = spacetime(spacetime.now(), Intl.DateTimeFormat().resolvedOptions().timeZone);
    offset = sp.offset();
    dst = sp.isDST();
    initializeInput();
  });
</script>

<div>
  <input
    bind:value={datetime}
    type="datetime-local"
    class={cx('border-2 py-2 px-4 w-full rounded-sm border-gray-700', invalid && 'border-red-500')}
    on:input={onChange}
  />

  The timezone will be determined from the collection position.
  <input bind:value={timezoneInput} type="text" />
  {offset !== null ? '+' : '-'}{offset}{dst ? ' (Daylight Savings Time)' : ''}
</div>

<style>
</style>
