<script lang="ts">
  import cx from 'classnames';
  import MapPin from '$lib/icon/MapPin.svelte';
  import { modal } from '$lib/auth/state';
  import { Modal } from '../../type/modal';

  export let value: string | number | null;
  export let type = 'text';
  export let id: string | undefined;
  export let invalid = false;
  export let errorMessage = '';
  export let mapInput = false;

  const typeAction = (node: HTMLInputElement) => {
    node.type = type;
  };

  function openLocationChooser() {
    console.log('open');
    modal.set(Modal.ChooseLocation);
  }

  // https://github.com/sveltejs/svelte/issues/5030
  // Svelte parses input values with type "number" as strings, so we need to manually
  // coerce the type here
  const onChange = (event: Event) => {
    const newValue = (event.target as HTMLSelectElement).value;

    value = type === 'number' ? Number(newValue) : newValue;
  };
</script>

<div class="relative w-full">
  <div class="relative">
    <input
      {id}
      use:typeAction
      bind:value
      class={cx(
        'border-2 py-2 px-4 w-full rounded-sm border-gray-700',
        invalid && 'border-red-500'
      )}
      on:input={onChange}
    />
    {#if mapInput}
      <div
        class="absolute right-2 bottom-1/2 translate-y-1/2"
        on:click={() => openLocationChooser()}
        on:keyup={() => openLocationChooser()}
      >
        <MapPin />
      </div>
    {/if}
  </div>

  {#if invalid}
    <div class="text-red-500 absolute top-7 text-sm">{errorMessage}</div>
  {/if}
</div>

<style>
</style>
