<script lang="ts">
  import NavLink from '$lib/components/NavLink.svelte';

  export let loggedIn = false;
  export let onLogout: () => void;
</script>

<NavLink title="Dashboard" link="/" />
<NavLink title="Specimen" link="/specimen" />
<NavLink title="Collections" link="/collection" />
{#if loggedIn}
  <div on:click={onLogout} on:keyup={onLogout}>
    <NavLink title="Logout" link="" />
  </div>
{/if}
{#if !loggedIn}
  <NavLink title="Login" link="/login" />
{/if}
