<script lang="ts">
  import type { FormSpecimen } from '../../type/form-specimen';
  import axios from 'axios';
  import type { Specimen } from '../../type/specimen';
  import { Button, Input } from '$lib/components/index.js';
  import { goto } from '$app/navigation';
  import type { Coordinates } from '../../type/coordinates';
  import { onMount } from 'svelte';
  import ChooseLocation from '$lib/modal/ChooseLocation.svelte';
  import { modal } from '$lib/auth/state';
  import AutocompleteInput from '$lib/components/AutocompleteInput.svelte';
  import type { MapConfig } from '../../type/mapConfig';
  import 'mapbox-gl/dist/mapbox-gl.css';
  import H1 from '$lib/components/H1.svelte';
  import { Modal } from '../../type/modal';
  import type MapboxGeocoder from '@mapbox/mapbox-gl-geocoder';
  import { toast } from '$lib/stores/toasts';
  import { apiGet, apiPost, apiPut } from '../request';
  import { RequestState } from '../../type/request-state';
  import DateTimeInput from '$lib/components/DateTimeInput.svelte';
  import type { LatLong } from '../../type/lat-long';

  export let specimenId: number | null = null;
  export let specimen: FormSpecimen | Specimen = {
    collectedAtTimezone: '',
    collectionId: null,
    inaturalistId: null,
    collectedAt: '',
    collectedBy: '',
    description: '',
    taxon: '',
    taxonAuthor: '',
    coordinates: null,
    street: null,
    zip: null,
    city: null,
    region: null,
    country: null,
  };
  let coordinateString = '';
  let modalState: Modal | null = null;
  let mapConfig: MapConfig;
  let loading = true;
  let timezone: string = Intl.DateTimeFormat().resolvedOptions().timeZone;

  onMount(async () => {
    const result = await apiGet<MapConfig>('/api/map-config');

    if (result.state === RequestState.Error) {
      loading = false;
      toast({ type: 'error', message: 'Error loading map' });
      return;
    }

    mapConfig = result.response;
    loading = false;

    timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;

    if (specimen.collectedAtTimezone) {
      timezone = specimen.collectedAtTimezone;
    }
  });

  async function handleFormResponse(response: Specimen, created: boolean) {
    if (created) {
      toast({ message: 'Specimen created', type: 'success' });
    } else {
      toast({ message: 'Specimen updated', type: 'success' });
    }

    goto(`/specimen/${response.id}`);
  }

  function getCoordinateObjectOrNullFromString(): Coordinates | null {
    const coordinateParts = coordinateString.split(',');

    if (coordinateParts.length !== 2) {
      return null;
    }

    const trimmedX = coordinateParts[0].trim();
    const trimmedY = coordinateParts[1].trim();

    if (trimmedX && trimmedY) {
      return {
        x: Number.parseFloat(trimmedX),
        y: Number.parseFloat(trimmedY),
        srid: null,
      };
    }

    return null;
  }

  async function submit(): Promise<void> {
    specimen.coordinates = getCoordinateObjectOrNullFromString();
    specimen.collectedAtTimezone = timezone;
    console.log(specimen);

    if (specimenId) {
      const result = await apiPut<Specimen>(`/api/specimen/${specimenId}`, specimen);

      if (result.state === RequestState.Error) {
        toast({
          message: `Error updating specimen`,
          type: 'error',
        });
        return;
      }

      return handleFormResponse(result.response, false);
    }

    const result = await apiPost<Specimen>('/api/specimen', specimen);

    if (result.state === RequestState.Error) {
      toast({
        message: `Error creating specimen`,
        type: 'error',
      });
      return;
    }

    return handleFormResponse(result.response, true);
  }

  async function updateFormState() {
    console.log(specimen);
  }

  modal.subscribe((state) => (modalState = state));

  function updateCoordinateString(coordinates: Coordinates | null) {
    if (coordinates) {
      coordinateString = `${coordinates?.x}, ${coordinates?.y}`;
      return;
    }

    coordinateString = ``;
  }

  const reverseGeocode = async (coordinates: Coordinates) => {
    const { x, y } = coordinates;

    try {
      const result = await axios.get<MapboxGeocoder.Results>(
        `https://api.mapbox.com/geocoding/v5/mapbox.places/${x},${y}.json?access_token=${mapConfig.apiKey}`
      );

      specimen.street = null;
      specimen.zip = null;
      specimen.city = null;
      specimen.region = null;
      specimen.country = null;

      for (const feature of result.data.features) {
        // TODO: Fix type of feature and not require featureTyped.
        const featureTyped = feature as MapboxGeocoder.Result;

        switch (featureTyped.place_type[0]) {
          case 'address':
            if (featureTyped.address) {
              specimen.street = `${featureTyped.text} ${featureTyped.address}`.trim();
            } else {
              specimen.street = `${featureTyped.text}`.trim();
            }
            break;
          case 'postcode':
            specimen.zip = featureTyped.text;
            break;
          case 'place':
            specimen.city = featureTyped.text;
            break;
          case 'region':
            specimen.region = featureTyped.text;
            break;
          case 'country':
            specimen.country = featureTyped.text;
            break;
        }
      }
    } catch (e) {
      console.error('Error reverse geocoding location', e);
    }
  };

  function updateCoordinates(event: CustomEvent<Coordinates>) {
    const coordinates = event.detail;
    updateCoordinateString(coordinates);
  }

  onMount(() => {
    updateCoordinateString(specimen.coordinates);
  });

  async function updateTimezone(latLong: LatLong) {
    const params = new URLSearchParams();
    params.set('lng', latLong.long.toString());
    params.set('lat', latLong.lat.toString());
    const timezoneResponse = await axios.get(`/api/timezone-finder?${params.toString()}`);
    timezone = timezoneResponse.data;
  }

  const onCoordinateStringChange = () => {
    const coordinateObj = getCoordinateObjectOrNullFromString();

    // If the coordinates input is a valid lat+lng, reverse geocode the coordinates to display a human readable address
    if (coordinateObj && coordinateObj.x && coordinateObj.y) {
      const { x, y } = coordinateObj;
      const isLatitude = isFinite(y) && Math.abs(y) <= 90;
      const isLongitude = isFinite(x) && Math.abs(x) <= 180;

      if (isLatitude && isLongitude) {
        reverseGeocode({ x, y });
        updateTimezone({ lat: y, long: x });
      }
    }
  };

  $: coordinateString, onCoordinateStringChange();
</script>

<div class="text-center">
  <H1>Create Specimen</H1>
  {#if loading}
    <div>Loading ...</div>
  {:else}
    <form
      class="grid gap-2 max-w-xs mx-auto text-left"
      on:change={() => updateFormState()}
      on:keyup={() => updateFormState()}
      on:submit|preventDefault={() => submit()}
    >
      <div>
        <label for="taxon">Taxon</label>
        <Input id="taxon" bind:value={specimen.taxon} />
      </div>
      <div>
        <label for="collected-by">Collected By</label>
        <Input id="collected-by" bind:value={specimen.collectedBy} />
      </div>
      <div>
        <label for="inaturalist-id">Inaturalist ID</label>
        <Input id="inaturalist-id" type="number" bind:value={specimen.inaturalistId} />
      </div>
      <div>
        <label for="coordinates">Coordinates</label>
        <Input id="coordinates" type="string" mapInput={true} bind:value={coordinateString} />
      </div>
      <div>
        <label for="street">Street</label>
        <Input id="street" type="string" bind:value={specimen.street} />
      </div>
      <div>
        <label for="zip">ZIP</label>
        <Input id="zip" type="string" bind:value={specimen.zip} />
      </div>
      <div>
        <label for="city">City</label>
        <Input id="city" type="string" bind:value={specimen.city} />
      </div>
      <div>
        <label for="region">Region</label>
        <Input id="region" type="string" bind:value={specimen.region} />
      </div>
      <div>
        <label for="country">Country</label>
        <Input id="country" type="string" bind:value={specimen.country} />
      </div>
      <div>
        <label for="collected-at">Collected At</label>
        <DateTimeInput bind:timezoneInput={timezone} bind:value={specimen.collectedAt} />
      </div>
      <div>
        <label for="description">Description</label>
        <textarea
          id="description"
          name="description"
          class="border-2 w-full rounded-sm border-gray-700"
          bind:value={specimen.description}
        />
      </div>
      <div>
        <label for="description">Collection</label>
        <AutocompleteInput
          id={specimen.collectionId?.toString()}
          bind:value={specimen.collectionId}
          bind:collection={specimen.collection}
        />
      </div>
      <Button disabled={false}>
        {#if specimenId}
          Edit
        {/if}
        {#if !specimenId}
          Create
        {/if}
      </Button>
    </form>
  {/if}

  {#if modalState === Modal.ChooseLocation}
    <ChooseLocation
      {mapConfig}
      bind:coordinates={specimen.coordinates}
      on:coordinates={updateCoordinates}
    />
  {/if}
</div>
