<script lang="ts">
  import cx from 'classnames';
  import { fade } from 'svelte/transition';
  import { CheckIcon, InfoIcon, AlertCircleIcon, XIcon } from 'svelte-feather-icons';
  import type { Toast } from '../../type/toast';

  export let onClose: () => void;
  export let type: Toast['type'] = 'success';
  export let dismissible: Toast['dismissible'] = true;
</script>

<div
  class={cx(
    'rounded flex items-center w-80 mx-auto my-2 text-white py-3 px-6',
    type === 'success' && 'bg-emerald-500',
    type === 'info' && 'bg-indigo-500',
    type === 'error' && 'bg-red-500'
  )}
  role="alert"
  transition:fade|global
>
  {#if type === 'success'}
    <CheckIcon />
  {:else if type === 'error'}
    <AlertCircleIcon />
  {:else}
    <InfoIcon />
  {/if}

  <div class="ml-4">
    <slot />
  </div>

  {#if dismissible}
    <button class="bg-transparent ml-auto pointer-events-auto" on:click={onClose}>
      <XIcon />
    </button>
  {/if}
</div>
