<script lang="ts">
  import { dismissToast, toasts } from '$lib/stores/toasts';
  import Toast from './Toast.svelte';
</script>

{#if $toasts}
  <div
    class="fixed top-0 left-0 right-0 mx-auto flex justify-center z-50 mt-20 flex-col pointer-events-none"
  >
    {#each $toasts as toast (toast.id)}
      <Toast
        type={toast.type}
        dismissible={toast.dismissible}
        onClose={() => dismissToast(toast.id)}
        on:dismiss={() => dismissToast(toast.id)}>{toast.message}</Toast
      >
    {/each}
  </div>
{/if}
